@import vars
@import "ui"

.bd-container
  max-width: 968px
  width: calc(100% - 3rem)
  margin-left: $mb-3
  margin-right: $mb-3
  @media screen and (min-width: 968px)
    margin-left: auto
    margin-right: auto

.bd-grid
  display: grid
  gap: 1.5rem

.l-header
  width: 100%
  position: fixed
  bottom: 0
  left: 0
  z-index: $z-fixed
  background-color: $body-color
  box-shadow: 0 -1px 4px rgba(0,0,0,.1)
  transition: .3s
  @media screen and (min-width: 968px)
    display: none


@media screen and (max-width: 968px)
  .nav__menu
    position: fixed
    bottom: -100%
    width: 100%
    left: 0
    padding: 2rem 1.5rem
    background-color: $body-color
    box-shadow: 0 -1px 4px rgba(0,0,0,.1)
    border-radius: 1rem 1rem 0 0
    z-index: $z-fixed
    transition: .3s

.nav
  height: $header-height
  display: flex
  justify-content: space-between
  align-items: center
  &__logo,
  &__toggle
    color: $title-color
    font-weight: $font-medium
  &__toggle
    font-size: 1.2rem
    cursor: pointer
  &__item
    text-align: center
  &__list
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 1rem .5rem
    @media screen and (min-width: 320px)
      grid-template-columns: repeat(3, 1fr)
      gap: 2rem
  &__link
    display: flex
    flex-direction: column
    font-size: $small-font-size
    color: $text-color-light
    font-weight: $font-medium
    &:hover
      color: $title-color
  &__icon
    font-size: 1.2rem
    margin-bottom: $mb-1

.show-menu
  bottom: $header-height

.active-link
  color: $title-color


.home
  position: relative
  &__container
    gap: 3rem
    @media screen and (min-width: 968px)
      gap: 1.5rem
  &__data
    gap: .5rem
    text-align: center
  &__img
    width: 120px
    height: 120px
    border-radius: 50%
    justify-self: center
    margin-bottom: $mb-1
  &__title
    font-size: $h1-font-size
  &__profession
    font-size: $normal-font-size
    margin-bottom: $mb-1
  &__address
    gap: 1rem
  &__information
    display: flex
    align-items: center
    font-size: $small-font-size
  &__icon
    font-size: 1.2rem
    margin-right: .25rem
  &__button-movil
    display: inline-block
    border: 2px solid $text-color
    color: $title-color
    padding: 1rem 2rem
    border-radius: .25rem
    transition: .3s
    font-weight: $font-medium
    margin-top: $mb-3
    &:hover
      background-color: $text-color
      color: $container-color
    @media screen and (min-width: 968px)
      display: none


.social
  &__container
    grid-template-columns: max-content
    gap: 1rem
  &__link
    display: inline-flex
    align-items: center
    font-size: $small-font-size
    color: $text-color
    &:hover
      color: $title-color
  &__icon
    font-size: 1.2rem
    margin-right: .25rem


.profile
  &__description
    text-align: center
    @media screen and (min-width: 968px)
      text-align: initial


.education,
.experience
  &__content
    display: flex
  &__time
    padding-right: 1rem
  &__rounder
    position: relative
    display: block
    width: 16px
    height: 16px
    background-color: $text-color-light
    border-radius: 50%
    margin-top: .25rem
  &__line
    display: block
    width: 2px
    height: 110%
    background-color: $text-color-light
    transform: translate(7px, 0)
  &__data
    gap: .5rem
  &__title
    font-size: $h3-font-size
  &__studies
    font-size: $small-font-size
    color: $title-color
  &__year
    font-size: $smaller-font-size


.skills,
.languages
  &__content
    grid-template-columns: repeat(2, 1fr)
    gap: 0
    @media screen and (min-width: 968px)
      grid-template-columns: repeat(3, max-content)
      column-gap: 3.5rem
  &__name
    display: flex
    align-items: center
    margin-bottom: $mb-3
  &__circle
    display: inline-block
    width: 5px
    height: 5px
    background-color: $text-color
    border-radius: 50%
    margin-right: .75rem


.certificates
  &__title
    font-size: $h3-font-size
    margin-bottom: $mb-1


.interests
  &__container
    grid-template-columns: repeat(3, 1fr)
    margin-top: $mb-2
    @media screen and (min-width: 968px)
      grid-template-columns: repeat(4, max-content)
      column-gap: 3.5rem
  &__content
    display: flex
    flex-direction: column
    align-items: center
  &__icon
    font-size: 1.5rem
    color: $text-color-light
    margin-bottom: .25rem

.scrolltop
  position: fixed
  right: 1rem
  bottom: -20%
  display: flex
  justify-content: center
  align-items: center
  padding: .3rem
  background-color: $container-color-alt
  border-radius: .4rem
  z-index: $z-tooltip
  transition: .4s
  visibility: hidden
  &__icon
    font-size: 1.2rem
    color: $text-color
  @media screen and (min-width: 968px)
    display: none

.show-scroll
  visibility: visible
  bottom: 5rem