@import vars
@import "ui"

.bd-container
  max-width: 968px
  width: calc(100% - 3rem)
  margin-left: $mb-3
  margin-right: $mb-3

.bd-grid
  display: grid
  gap: 1.5rem

.l-header
  width: 100%
  position: fixed
  bottom: 0
  left: 0
  z-index: $z-fixed
  background-color: $body-color
  box-shadow: 0 -1px 4px rgba(0,0,0,.1)
  transition: .3s


@media screen and (max-width: 968px)
  .nav__menu
    position: fixed
    bottom: -100%
    width: 100%
    left: 0
    padding: 2rem 1.5rem
    background-color: $body-color
    box-shadow: 0 -1px 4px rgba(0,0,0,.1)
    border-radius: 1rem 1rem 0 0
    z-index: $z-fixed
    transition: .3s

.nav
  height: $header-height
  display: flex
  justify-content: space-between
  align-items: center
  &__logo,
  &__toggle
    color: $title-color
    font-weight: $font-medium
  &__toggle
    font-size: 1.2rem
    cursor: pointer
  &__item
    text-align: center
  &__list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 2rem
  &__link
    display: flex
    flex-direction: column
    font-size: $small-font-size
    color: $text-color-light
    font-weight: $font-medium
    &:hover
      color: $title-color
  &__icon
    font-size: 1.2rem
    margin-bottom: $mb-1

.show-menu
  bottom: $header-height

.active-link
  color: $title-color


.home
  position: relative
  &__container
    gap: 3rem
  &__data
    gap: .5rem
    text-align: center
  &__img
    width: 120px
    height: 120px
    border-radius: 50%
    justify-self: center
    margin-bottom: $mb-1
  &__title
    font-size: $h1-font-size
  &__profession
    font-size: $normal-font-size
    margin-bottom: $mb-1
  &__address
    gap: 1rem
  &__information
    display: flex
    align-items: center
    font-size: $small-font-size
  &__icon
    font-size: 1.2rem
    margin-right: .25rem
  &__button-movil
    display: inline-block
    border: 2px solid $text-color
    color: $title-color
    padding: 1rem 2rem
    border-radius: .25rem
    transition: .3s
    font-weight: $font-medium
    margin-top: $mb-3
    &:hover
      background-color: $text-color
      color: $container-color


.social
  &__container
    grid-template-columns: max-content
    gap: 1rem
  &__link
    display: inline-flex
    align-items: center
    font-size: $small-font-size
    color: $text-color
    &:hover
      color: $title-color
  &__icon
    font-size: 1.2rem
    margin-right: .25rem

