@import vars
@import "ui"

.bd-container
  max-width: 968px
  width: calc(100% - 3rem)
  margin-left: $mb-3
  margin-right: $mb-3

.bd-grid
  display: grid
  gap: 1.5rem

.l-header
  width: 100%
  position: fixed
  bottom: 0
  left: 0
  z-index: $z-fixed
  background-color: $body-color
  box-shadow: 0 -1px 4px rgba(0,0,0,.1)
  transition: .3s

.nav
  height: $header-height
  display: flex
  justify-content: space-between
  align-items: center

@media screen and (max-width: 968px)
  .nav__menu
    position: fixed
    bottom: -100%
    width: 100%
    left: 0
    padding: 2rem 1.5rem
    background-color: $body-color
    box-shadow: 0 -1px 4px rgba(0,0,0,.1)
    border-radius: 1rem 1rem 0 0
    z-index: $z-fixed
    transition: .3s


.nav__logo,
.nav__toggle
  color: $title-color
  font-weight: $font-medium

.nav__toggle
  font-size: 1.2rem
  cursor: pointer

.nav__item
  text-align: center

.nav__list
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: 2rem

.nav__link
  display: flex
  flex-direction: column
  font-size: $small-font-size
  color: $text-color-light
  font-weight: $font-medium
  &:hover
    color: $title-color

.nav__icon
  font-size: 1.2rem
  margin-bottom: $mb-1

.show-menu
  bottom: $header-height

.active-link
  color: $title-color






